.hero-unit{padding:60px;margin-bottom:30px;font-size:18px;font-weight:200;line-height:30px;color:inherit;background-color:#eee;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}
	.hero-unit h1{margin-bottom:0;font-size:60px;line-height:1;letter-spacing:-1px;color:inherit}
	.hero-unit li{line-height:30px}
.hero-unit > center > h1{
	font-size: 50px;
	position: relative;
}
._bg-color-1{
	background-color: #39af94;
}
._btn{
	margin: 10px auto 0;
	padding: 10px 80px;
	text-align: center;
	color: #fff;
	font-size: 26px;
	border-radius: 5px;
	border: 0;
	border-bottom: 3px solid #009b69;
	background-color: #0db384;
}
a._btn:hover{
	color: white;
	text-decoration: none;
}
._btn:hover{
	background-color: #009b69;
}
footer{
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	padding-bottom: 15px;
}
#form-upload{
	padding: 20px 0;
}
#form-upload .row{
	padding: 10px 0;
}
._form-text{
	outline: none;
	border: 5px solid #0db384 ;
	padding: 10px 20px!important;
	font-size: 26px !important;
	height: 46px !important;
	width: 292px !important;
	line-height: 46px !important;
}
.custom-file-input{
  height: auto !important;
}
input[disabled]{
	background-color: #0db384 !important;
	opacity: 0.3;
}

._title{
	color: #009b69;
}
._share-fix{
	position: absolute;
	left: 30px;
	top: 120px;
}
._cmt-textare{
	width: 640px;
}
._cmt-username{
	font-size: 15px;
}
._cmt-content{
	font-size: 15px;
	color: #606060;
}
._hello{
	color: white;
}
._logout{
	color: red;
}


h1.page-header {
    margin-top: -5px;
}

.sidebar {
    padding-left: 0;
}

.main-container { 
    background: #FFF;
    padding-top: 15px;
    margin-top: -20px;
}

.footer {
    width: 100%;
}  




/*Css for show product*/
.module-product-list {
    margin: 20px -6px 0;
}
.module-product-list .product-item {
    background-color: white;
    border-color: #ededed;
    border-style: solid;
    border-width: 1px;
    height: 350px;
    position: relative;
}
.product-item .pro-img {
    border: 0 none;
    bottom: 0;
    height: 240px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
}
.product-item .pro-img > a.pu-image {
    position: relative;
}
.product-item .pro-img > a {
    display: block;
    font-size: 0;
    height: 220px;
    text-align: center;
}
.product-item .product-price-info {
    position: relative;
}
.product-item .product-price {
    color: #ff4509;
    float: left;
    font-size: 18px;
    margin-left: 10px;
}
.product-item .product-tile, .product-item .product-service, .product-item .product-more-listing-option {
    color: #bbb;
    margin-left: 10px;
}
.product-item .product-tile {
    color: #323232;
    display: block;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    max-height: 40px;
    overflow: hidden;
    text-align: left;
}

.product-service .rate-good-product{
	color: green;
	margin-left: 0px;
}

.product-service .rate-bad-product{
	color: black;
	margin-left: 10px;
} 
.product-image{
	height: 240;
	width: 265;
}
.product-info-top {
  padding-top: 10px;
}
.product-info-top .product-info-top-left {
  float: left;
  width: 352px;
}
.product-info-top .product-info-top-right {
  margin-left: 372px;
}
.widget-detail a {
  display: block;
  font-size: 0;
  height: 350px;
  text-align: center;
}
.desc-main-attr {
  padding-top: 12px;
}

.option-product {
  margin: 0;
}
.module-product-main-info * {
  font-size: 18px;
}
.module-product-main-info ul.product-detail-options li {
  line-height: 16px!important;
}
.desc-main-attr>ul>li {
  padding-left: 10px;
  position: relative;
  width: 50%;
  float: left;
  line-height: 26px;
}
.option-product li {
  line-height: 17px;
  list-style: none outside none;
  padding-left: 9px;
}
.fading-text {
  color: #888;
}

